# Set the default behavior to automatically normalize line endings.
* text=auto

# Explicitly declare binary files that should not be touched or normalized by Git
*.jar binary
*.png binary
*.keystore binary
*.gif binary
*.jpg binary
*.jpeg binary
*.bin binary
